bind-addr: 127.0.0.1:{{code_server_port}}
auth: password
password: {{code_server_password}}
cert: false
app-name : "My Cloud Desktop"
welcome-text: "My Cloud Desktop"
user-data-dir: {{code_server_data_dir}}
disable-telemetry: true
disable-update-check: true
